body {
    margin: 0;
    padding: 0;
    background-color: #303030;
    color: #FFFFFF;
}
p {
    margin: 0;
}
.founders {
    background-position: center;
    width: 15vw;
    overflow: hidden;
    background-size: cover;
    float: right;
    border-radius: 40%;
}
#founderTwoPFP {
    grid-area: 1 / 2;
    margin: 0 auto;
}
.description {
    margin: 5%;
}
section {
    display: grid;
    grid-template-columns: 23vw auto;
    grid-template-rows: auto auto;
}
#founderTwo {
    grid-template-columns: auto 20vw;
    grid-template-rows: auto auto;
}
.founderTitle, #alignCenter {
    text-align: center;
}
.founderPics {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.founderInfo:nth-child(even) {
    background-color: #464647;
}