body {
    margin: 0;
    padding: 0;
}
.horizontal {
    display: flex;
    flex-direction: row;
}
.pointerElm {
    cursor: pointer;
}
#headerBar {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 2% 17% 60%;
}
.viewBoxMain {
    height: 30vh;
}
#darkMode {
    background-color: #303030;
}
#darkNav {
    background-color: #554826;
}
.preview {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-content: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 5%;
    background-color: #FFFFFF;
    height: 35vh;
    margin: auto 0;
}
#darkPreview {
    color: #FFFFFF;
}
#themeChooser {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    flex-direction: column;
    /* height: 50vh; */
}
#lightNav {
    background-color: #e9d283;
}
#deleteAccountBtn {
    display: block;
    margin: 0 auto;
}
.hoverSelect {
    display: flex;
    height: 45vh;
    width: 100vw;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}
.addPreference {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.form-switch .form-check-input {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}
/* Taken from https://stackoverflow.com/questions/55593229/increasing-the-size-of-a-bootstrap-checkbox */

.preferenceText {
    align-self: center;
}

@media (min-width: 768px) {
    #themeChooser {
        flex-direction: row;
    }
    .hoverSelect {
        width: 25vw;
    }
    .preview {
        width: 20vw;
    }
}