html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #303030;
    color: #FFFFFF;
}
#map {
    height: 92vh;
    color: #000000
}
#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}

#legend h5 {
  margin-top: 0;
}

#legend img {
  vertical-align: middle;
}
#navbar {
    margin: 0;
    padding: 0;
    background-color: #544726;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
#userPFP {
    border-radius: 50%;
    max-width: 2.5em;
    margin-right: 3%;
}
.offcanvas, .modal {
    color: #000000;
}
#goBottom {
    position: absolute;
    bottom: 0;
    left: 30%; 
}
#searchButton {
    background-color: #e9d283;
    width: 50%;
}
.classListing {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.teacherRoom {
    float: right;
    align-self: flex-end;
}
.navbarItem, .navbarItem:hover, .nav-link:focus {
    color: #FFFFFF;
    transition-duration: 0s;
}
#searchBox {
    width: 9em;
    align-self: center;
    justify-self: center;
}
#mainSearch::placeholder {
    font-size: 0.8rem;
}
#buildingCarousel {
    width: 25vw;
    margin: 0 auto;
    background-color: gray;
}
.carouselImg {
    margin: 0 auto;
}
.noMargin {
    margin: 0;
    padding: 0;
}
#teacherSelection {
    white-space: nowrap;
}
#infoBoxPreview {
    display: grid;
    width: 23em;
    border-radius: 5%;
    margin-right: 50%;
    text-align: center;
    grid-template-columns: 30% 70%;
    font-weight: bold;
}
#teacherImg {
    border-radius: 50%;
    justify-self: start;
    width: 5em;
}
#classroomAlignment {
    display: flex;
    flex-direction: column;
    text-align: end;
}
#goClass, #menuToggle {
    display: block;
    margin: 0 auto;
}
#menuIcon {
    width: 36px;
}
.menuOption {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #bebebe;
    margin: 5% auto;
    height: 15vh;
    width: 100%;
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    transition: background-color 0.5s 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
.menuOption:hover {
    background-color: #8d8a8a;
    text-decoration: none;
    color: #000000;
}
.optionText {
    margin: 0;
}
#menuSelector {
    display: grid;
    grid-template-rows: repeat(5, auto);
}
.mapDropdown, .pathSelector {
    position: absolute;
    z-index: 5;
    bottom: 2vh;
    background-color: #303030;
    border-radius: 15px;
}
.leftBtnSelector:hover, .rightBtnSelector:hover, .mapDropdown, .pathSelector, #userInfo, #selectFloorBtn {
    color: #FFFFFF;
}
#searchButton, .pathSelector, #buildingCarousel {
    display: none;
}
.leftBtnSelector {
    right: 15em;
}
.rightBtnSelector {
    right: 5em;
}
#menuIcon:hover {
    background-color: #756335;
    border-radius: 30px;
}
.pointerElm {
    cursor: pointer;
}
.btn-close {
    background-image: none !important; 
    display: contents;
}
#recenterCurrent {
    position: absolute;
    z-index: 5;
    background-color: #303030;
    border-radius: 15px;
    bottom: 11vh;
    right: 16em;
    color: #FFFFFF;
}
.pathOptionBtn, .sidebarBtnClass {
    background-color: #e9d283;
    border-radius: 15px;
    border: 0px;
    font-size: 1.5em;
    margin-top: 10%;
}
.pathOptionBtn:hover {
    background-color: #c7b370;
}
#pathOptionsList {
    display: grid;
    justify-content: space-evenly;
}
#classBtns {
    display: grid;
    grid-template-columns: 50% 20%;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    justify-items: center;
}
@media (min-width: 768px) {
    #searchButton {
        display: block;
    }
    #searchBox {
        width: 20em;
    }
    #mainSearch::placeholder {
        font-size: 1.2rem;
    }
    #navbar {
        grid-template-columns: 20% auto 10%;
    }
    #menuToggle {
        margin-left: 5%;
    }
    #menuIcon {
        width: 48px;
    }
    #recenterCurrent {
        bottom: 9vh;
    }
}