html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #303030;
    color: #FFFFFF;
    /* overflow: hidden; */
}
#map {
    height: 90vh;
    color: #000000
}
#navbar {
    margin: 0;
    padding: 0;
    background-color: #544726;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
#userPFP {
    border-radius: 50%;
    max-width: 2.5em;
    margin-right: 3%;
}
.offcanvas, .modal {
    color: #000000;
}
#goBottom {
    position: absolute;
    bottom: 0;
    left: 20%; 
}
#searchButton {
    background-color: #e9d283;
    width: 50%;
}
.classListing {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.teacherRoom {
    float: right;
    align-self: flex-end;
}
.navbarItem, .navbarItem:hover, .nav-link:focus {
    color: #FFFFFF;
    transition-duration: 0s;
}
#logo {
    max-width: 3em;
    display: flex;
    float: right;
    cursor: pointer;
    margin: auto 0;
}
#searchButton {
    display: none;
}
#searchBox {
    width: 9em;
    align-self: center;
    justify-self: center;
}
#mainSearch::placeholder {
    font-size: 0.8rem;
}
#buildingCarousel {
    width: 25vw;
    margin: 0 auto;
    background-color: gray;
}
.carouselImg {
    margin: 0 auto;
}
.noMargin {
    margin: 0;
    padding: 0;
}
#teacherSelection {
    white-space: nowrap;
}
#infoBoxPreview {
    display: grid;
    width: 23em;
    border-radius: 5%;
    margin-right: 50%;
    text-align: center;
    grid-template-columns: 30% 70%;
    font-weight: bold;
}
#teacherImg {
    border-radius: 50%;
    justify-self: start;
    width: 5em;
}
#classroomAlignment {
    display: flex;
    flex-direction: column;
    text-align: end;
}
#goClass {
    display: block;
    margin: 0 auto;
}
#userInfo {
  color: white;
}
#WHSIcon {
    display: flex;
    margin: auto;
}
#WHSwebsite {
    float: left;
}
@media (min-width: 768px) {
    #searchButton {
        display: block;
    }
    #searchBox {
        width: 20em;
    }
    #mainSearch::placeholder {
        font-size: 1.2rem;
    }
    #navbar {
        grid-template-columns: 20% auto 10%;
    }
    #logo {
        max-width: 4em;
    }
    #WHSIcon {
        margin: auto 0;
    }
}