body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #303030;
    color: #FFFFFF;
}
#navbar {
    display: flex;
    list-style-type: none;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    background-color: #554826;
    font-size: 5vmin;
    margin-bottom: 1%;
}
ul li {
    display: inline;
    width: 6em;
    text-align: center;
}
li a {
    margin-right: 3%;
    text-decoration: none;
}
li:hover {
    background-color: #e9d283;
    color: white;
}
#userPFP {
    border-radius: 50%;
    max-width: 15%;
}
#userContainer {
    display: flex;
    justify-content: center;
    /* width: 10%; */
    height: auto;
    text-align: center;
    align-items: center;
    margin-left: 0;
    white-space: nowrap;
}
#username {
    font-size: 4vmin;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0;
}

#darkMode {
    width: 7em;
    display: flex;
    margin: 0;
    height: 1.5em;
    justify-content: center;
    align-content: center;
}
#darkModeIcon {
    align-self: center;
    justify-self: center;
    padding-bottom: 2%;
    padding-right: 2%;
}